[user]
	name = Keith Barrette
	email = etterrab@gmail.com
[push]
	default = simple
[color]
	ui = true
[alias]
	st = status
	ci = commit
	co = checkout
	smush = commit --amend --no-edit
	inject = "!f() { git commit --fixup=$1; git rebase --interactive --autosquash --autostash $1^; }; GIT_EDITOR=true f"
[core]
	editor = vim
	excludesfile = ~/.gitignore
[credential]
	helper = osxkeychain
[diff]
	algorithm = patience
