[user]
	name = Keith Barrette
	email = etterrab@gmail.com
[push]
	default = simple
[color]
	ui = true
[alias]
	st = status
	ci = commit
	co = checkout
	smush = commit --amend --no-edit
	inject = "!f() { git commit --fixup=$1; git rebase --interactive --autosquash --autostash $1^; }; GIT_EDITOR=true f"
	branch-name = rev-parse --abbrev-ref HEAD
	firstpush = "!git push --set-upstream origin $(git branch-name)"
  firstpushtest = "!open $(git push --set-upstream origin $(git branch-name) | grep 'remote:      ' |head -1|sed 's/.*https/https/')"
	wip = !"git add .; git commit -m 'wip'"
	copymod = !"git status --porcelain | cut -d' ' -f3 | tr -d '\n' | pbcopy"
  diff-remote = !"git diff origin/$(git branch-name)"
[core]
	editor = vim
	excludesfile = ~/.gitignore
[credential]
	helper = osxkeychain
[diff]
	algorithm = patience
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
[help]
	autocorrect = 1
